@import '../../styles/mixins.scss';

.quiz-content {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: fit-content;
	@include sm() {
		width: 100%;
		left: 0;
		margin: 0;
		position: relative;
	}
}
.question {
	height: 65px;
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	font-size: 1.5rem;
	@include sm() {
		justify-content: center;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

.question-content {
	display: flex;
	margin-top: 2rem;
	@include sm() {
		flex-direction: column;
		max-width: 100%;
	}
	.show-chord {
		display: flex;
		align-items: center;
		.diagram {
			margin: 0;
			top: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 0;
			left: -1rem;
			border: none;
			padding-top: 1rem;

			@include sm() {
				justify-content: center;
				width: 100%;
				left: -1rem;
			}
		}
	}
}

.answers {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	padding: 1rem;
}
.answer {
	padding: 1rem;
	font-size: 1.2rem;
	border-radius: 2px;
	cursor: pointer;
	margin-bottom: 0.5rem;
	.answer-text {
		width: fit-content;
	}
}
.disabled-answer {
	cursor: not-allowed;
	background-color: #d6d8d9;
	color: #38576b;
	pointer-events: none;
}
.correct-answer,
.wrong-answer {
	background-color: #d4edda !important;
	color: #155724 !important;
	font-weight: 600;
}

.wrong-answer {
	background-color: #f8d7da !important;
	color: #9d1c24 !important;
}

.quiz-controls {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	font-size: 1.2rem;
	height: 65px;
	padding: 1rem;
	border-radius: 5px;
	position: relative;
	gap: 1rem;
	.next-button {
		margin-left: auto;
		button {
			background: none;
			font-size: 1rem;
			border: none;
			cursor: pointer;
			background-color: var(--accent);
			color: white;
			padding: 0.2rem 0.75rem;
			border-radius: 5px;
			&:hover {
			}
		}
	}
}
