@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Figtree', sans-serif;
}

ul {
	li {
		list-style-type: none;
		a {
			text-decoration: none;
		}
	}
}

input {
	border: none;
}

.page {
	height: fit-content;
	padding: var(--padding);
	padding-bottom: 5rem;
	min-height: 100vh;
	padding-top: 4rem;
	.show-chords {
		display: grid;
		grid-template-columns: repeat(4, 0fr);
		grid-gap: 4rem;
		justify-content: center;
	}
}
