@import './mixins.scss';

:root {
	--primary: #071e3d;
	--secondary: #278ea5;
	--accent: #2f89fc;
	--padding: 0 10rem;
}

@include sm() {
	:root {
		--padding: 0 1rem;
	}
}

@include md() {
	:root {
		--padding: 0 4rem;
	}
}

@include lg() {
	:root {
		--padding: 0 10rem;
	}
}
