@import '../styles/variables.scss';

.chord-page {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	position: relative;
	top: 65px;
}
.controls {
	display: flex;
	flex-direction: column;
	height: 200px;
	margin-top: 1rem;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	border-radius: 6px;
	@include sm() {
		width: 100%;
	}
	h1 {
		font-size: 1.3rem;
	}
	.keys {
		display: flex;
		@include sm() {
			flex-wrap: wrap;
		}
		button {
			background: none;
			font-size: 1.3rem;
			border: none;
			padding: 0.5rem 1rem;
			min-width: 80px;
			border-radius: 5px;
			cursor: pointer;
			color: var(--accent);
		}
		.active {
			background-color: dodgerblue;
			color: white;
		}
	}
}
