.leaderboard-header {
	width: 50%;
	margin: 0 auto;
	padding-top: 2rem;
	.choose-leaderboard {
		display: flex;
		gap: 1rem;
		p {
			border-radius: 5px;
			padding: 0.5rem 1rem;
			cursor: pointer;
		}
		.active {
		}
	}
}

.leaderboard {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 50%;
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 8px;

	.labels {
		width: 100%;
		position: relative;
		display: flex;
		padding: 1rem;
		gap: 1rem;
		p {
			font-size: 1rem;
		}
		.pos-label {
			width: 15%;
		}
		.user-label {
			width: 35%;
		}
		.time-label {
			width: 25%;
		}
		.attempts-label {
			width: 20%;
		}
		.score-label {
			width: 5%;
		}
	}
	.user {
		padding: 1rem;
		display: flex;
		align-items: center;
		gap: 1rem;
		height: 65px;
		width: 100%;
		.position {
			width: 15%;
			h1 {
				font-size: 1.3rem;
				color: lightslategray;
			}
		}
		.name {
			width: 35%;
			h1 {
				font-size: 1.2rem;
			}
			.rank {
				font-size: 0.8rem;
				font-style: italic;
				color: lightslategray;
			}
		}
		.duration {
			width: 25%;
		}
		.score {
			height: 100%;
			width: fit-content;
			display: flex;
			align-items: center;
			width: 5%;
		}
		.attempts {
			width: 20%;
		}
	}
}
