@import '../../styles/variables.scss';

nav {
	height: 65px;
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: var(--padding);
	.links {
		display: flex;
		gap: 1rem;
		align-items: center;
		width: 100%;
		li {
			a {
				text-decoration: none;
				padding: 0.55rem 1rem;
				border-radius: 5px;
			}
		}
		.user-auth {
			margin-left: auto;
			display: flex;
			gap: 1rem;
			li {
				cursor: pointer;
				p {
					height: 100%;
					display: flex;
					align-items: center;
				}
				.signup-btn {
					background-color: var(--accent);
					padding: 0.5rem;
					border-radius: 5px;
				}
			}
		}
	}
	.user-settings {
		margin-left: auto;
		list-style-type: none;
		font-size: 1.3rem;
		cursor: pointer;
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		z-index: 9999;
		.dark-mode {
			display: flex;
			.pill {
				width: 40px;
				height: 20px;
				border-radius: 25px;
				padding: 0.25rem;
				display: flex;
				align-items: center;
				position: relative;
				margin-left: auto;
				.switch-on,
				.switch-off {
					background-color: #fff;
					width: 14px;
					height: 14px;
					border-radius: 50%;
					transition: all 200ms ease-in-out;
				}
				.switch-off {
					transform: translateX(18px);
					transition: all 200ms ease-in-out;
				}
			}
		}
	}
}

.settings,
.hide {
	padding: 1rem;
	border-radius: 5px;
	position: absolute;
	top: 75px;
	right: 0;
	font-size: 1rem;
	width: 200px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	transition: all 200ms ease-in-out;
	opacity: 1;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	.up-arrow {
		position: absolute;
		right: 0rem;
		top: -1rem;
		font-size: 2rem;
		transition: all 200ms ease-in-out;
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		li {
			display: flex;
			gap: 0.25rem;
			a {
				display: flex;
				gap: 0.25rem;
				width: 100%;
			}
		}
		.icon {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 100%;
		}
	}
}

.hide {
	opacity: 0;
	transform: scale(0);
}
